* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkblue;
}

.different-text > a:hover {
    color: gray;
}

#nav-logo {
    width: 20%;
    height: 90%;
    margin: 10px;
    /* justify-content: center; */
}

#nav-link-container > a:hover {
    color: gray;
}

#home {
    margin-top: 10vh;
}

#hero {
    background-image: url('https://i.imgur.com/xrKTxFV.jpg');
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#hero-text {
    color: white;
    font-size: 3em;
    font-family: 'londrina solid';
    font-weight: bold;
    text-align: center;
    margin: 20px 10px; 
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

#diff-img-container {
    display: flex;
    align-items: center;
}

#different-img {
    width: 95%;
    margin: 0.5em auto;
}

#diff-text-container {
    padding: 20px;

}

.different-head {
    text-align: center;
    font-size: 3rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 20px 0px;
}

.different-text {
    font-size: 1.5rem;
    font-family: 'londrina solid';
}

#about {
    margin-top: 10vh;
}

#about-section-container {
    padding: 10px
}

#about-img-container {
    display: flex;
}

.about-img {
    width: 95%;
    margin: 0.5em auto;
}

#about-head {
    text-align: center;
    font-size: 3rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 20px 0px;
}

#about-text {
    font-size: 1.5rem;
    font-family: 'londrina solid';
}

#meet-head {
    text-align: center;
    font-size: 3rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 20px 0px;
}

.team-member {
    background-color: black;
    color: white;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'londrina solid';
    height: 80%;
    /* width: 30%; */
    /* flex-wrap: wrap; */
}

.team-img {
    margin: 10px auto;
    border: 2px solid white;
    height: 80%;
    /* width: 90%; */
}

.team-name {
    margin: 10px auto;
    width: 90%;
    font-size: 2rem;
}

.team-title {
    margin: 10px auto;
    width: 90%;
    font-style: italic;
    font-size: 1.5rem;
}

.team-bio {
    margin: 10px auto;
    width: 90%;
}

#services {
    margin-top: 10vh;
}

.services-container {
    padding: 10px;
    margin: auto;
    /* display: flex; */
}

.services-head {
    text-align: center;
    font-size: 3rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 20px auto;
}

#services-tagline {
    font-size: 1.5rem;
    font-family: 'londrina solid';
}

.services-section-container {
    margin: 20px auto;
}

.services-name {
    font-size: 2rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 20px auto;
}

.services-text {
    font-size: 1.5rem;
    font-family: 'londrina solid';
    margin: 20px auto;
}

.services-img {
    width: 100%
}

#testimonials-container {
    padding: 10px;
    margin: auto;
    /* display: flex; */
}

#testimonials {
    margin-top: 10vh;
}

#testimonials-head {
    text-align: center;
    font-size: 3rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 10px auto;
    padding: 20px;
}

.testimonials-author {
    font-size: 2rem;
    font-family: 'londrina solid';
    margin: 20px auto;
}

.testimonials-text {
    font-size: 1.5rem;
    font-family: 'londrina solid';
    margin: 20px auto;
}

/* .testimonials-text-container {
    width: 75%;
    margin: auto;
} */

.testimonials-img-container {
    display: flex;
    justify-content: center;
}

.testimonials-img {
    width: 95%;
    margin: 20px auto;
}

#prices {
    margin-top: 10vh;
}

#prices-container {
    padding: 10px;
    margin: auto;
}

#prices-content {
    display: flex;
    flex-direction: column;
}

#prices-head {
    text-align: center;
    font-size: 3rem;
    font-family: 'londrina solid';
    font-weight: bold;
    margin: 20px auto;
}

#prices-text {
    font-size: 1.5rem;
    font-family: 'londrina solid';
    margin: 20px auto;
}

#prices-img {
    width: 100%;
    margin: 20px auto;
}

@media screen and (min-width: 550px) {
    #img-two {
        display: inherit;
    }

    #about-img-container {
        justify-content: space-evenly;
    }

    .about-img {
        width: 40%;
        margin: 20px 0px;
    }
}

@media screen and (min-width: 900px) {

    #nav-logo {
        width: 5%;
        height: 90%;
        margin: 10px;
    }

    #different {
        display: flex;
    }

    #diff-img-container {
        width: 75%;
        background-color: white;
        display: flex;
        align-items: center;
    }
    
    #different-img {
        /* background-color: black; */
        /* width: 50%; */
        /* padding: 20px; */
        /* border-radius: 10px; */
        width: 90%;
        margin: 0.5em auto;
    }
    
    #diff-text-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    span {
        font-size: 2rem;
        text-decoration: underline;
    }

    #about-section-container {
        display: flex;
        padding: 10px;
        width: 90%;
        margin: 0 auto;
    }

    #about-flex-container {
        display: flex;
        align-items: center;
    }

    #about-text {
        width: 50%;
        padding: 10px;
    }

    #about-text-container {
        /* width: 50%; */
        padding: 10px;
    }

    #about-img-container {
        /* width: 50%; */
        padding: 10px;
        width: 50%;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .about-img {
        width: 80%;
        margin: 0.5em auto;
    }

    #team-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
        width: 100%;
    }

    .team-member {
        width: 40%;
        margin: 20px 0px;
        border-radius: 2%;
        height: 120vh;
    }

    .team-img {
        /* width: ; */
        height: 60%;
    }

    .services-container {
        width: 90%;
    }

    #testimonials-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
    }

    .testimonials-text-container {
        width: 75%;
        margin: auto;
    }

    .testimonials-img {
        width: 75%;
        margin: 20px auto;
    }

    #prices-content {
        align-items: center;
    }

    #prices-img {
        width: 40%;
        margin: 20px auto;
    }

    #prices-text {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {

    #hero {
        background-position: center;
    }

    .team-img {
        width: 90%
    }
    
}

@media screen and (min-width: 800px) {
    .services-section-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .services-img-container {
        width: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .services-text-container {
        width: 50%;
        padding: 10px;
    }

    .testimonials-section-container {
        width: 40%
    }

    #testimonials-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .services-img-container {
        justify-content: center;
    }

    .services-img {
        width: 50%;
    }

    .testimonials-section-container {
        width: 40%
    }
}